In [21]:
from pytrends.request import TrendReq
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
pytrends = TrendReq(hl='en-US', tz=360)

In [30]:
kw_list = ["Medicare", 'Crime', 'Immigration', 'Unemployment', 'Social Security']
pytrends.build_payload(kw_list, cat=0, timeframe='today 1-m', geo = 'US-MN', gprop='')

In [55]:
topics_by_region = pytrends.interest_by_region(resolution='CITY', inc_geo_code=False, inc_low_vol=True)

In [56]:
topics_by_region.head(6)

,Medicare,Crime,Immigration,Unemployment,Social Security
geoName,,,,,
Duluth MN-Superior WI,25,18,3,27,27
Fargo-Valley City ND,21,13,3,33,30
La Crosse-Eau Claire WI,18,15,25,26,16
Mankato MN,27,19,5,17,32
Minneapolis-St. Paul MN,25,18,7,23,27
Rochester MN-Mason City IA-Austin MN,27,16,5,18,34

In [57]:
import pandas as pd
topics_by_region['region'] = ['Duluth', 'Fargo', 'La Crosse', 'Mankato', 'Minneapolis', 'Rochester']

In [61]:
topics_by_region = topics_by_region.reset_index()

In [63]:
del topics_by_region['geoName']
topics_by_region.head(6)

   Medicare  Crime  Immigration  Unemployment  Social Security       region
0        25     18            3            27               27       Duluth
1        21     13            3            33               30        Fargo
2        18     15           25            26               16    La Crosse
3        27     19            5            17               32      Mankato
4        25     18            7            23               27  Minneapolis
5        27     16            5            18               34    Rochester

In [71]:
topics_by_region2 = topics_by_region.melt(id_vars = ['region'],
                                    value_vars = ['Medicare', 'Crime', 'Immigration', 'Unemployment', 'Social Security'])

In [77]:
topics_by_region2 = topics_by_region2.rename(columns = {'variable':'topic', 'value':'popularity'})

In [78]:
topics_by_region2.head(30)

         region            topic  popularity
0        Duluth         Medicare          25
1         Fargo         Medicare          21
2     La Crosse         Medicare          18
3       Mankato         Medicare          27
4   Minneapolis         Medicare          25
5     Rochester         Medicare          27
6        Duluth            Crime          18
7         Fargo            Crime          13
8     La Crosse            Crime          15
9       Mankato            Crime          19
10  Minneapolis            Crime          18
11    Rochester            Crime          16
12       Duluth      Immigration           3
13        Fargo      Immigration           3
14    La Crosse      Immigration          25
15      Mankato      Immigration           5
16  Minneapolis      Immigration           7
17    Rochester      Immigration           5
18       Duluth     Unemployment          27
19        Fargo     Unemployment          33
20    La Crosse     Unemployment          26
21      Mankato     Unemployment          17
22  Minneapolis     Unemployment          23
23    Rochester     Unemployment          18
24       Duluth  Social Security          27
25        Fargo  Social Security          30
26    La Crosse  Social Security          16
27      Mankato  Social Security          32
28  Minneapolis  Social Security          27
29    Rochester  Social Security          34

In [43]:
from google.cloud import storage
client = storage.Client()
print('default project: {}'.format(client.project))

default project: trends-msba

In [44]:
bucket = client.bucket('msba-trends')

In [79]:
topics_by_region2.to_csv('mn_topics_by_region.csv', index = False)
blob = bucket.blob('mn_topics_by_region.csv')
blob.upload_from_filename('mn_topics_by_region.csv')

In [85]:
topics_by_day = pytrends.interest_over_time()
del topics_by_day['isPartial']

In [88]:
topics_by_day = topics_by_day.reset_index()
topics_by_day.head(29)

         date  Medicare  Crime  Immigration  Unemployment  Social Security
0  2019-11-08        38     24           11            18               55
1  2019-11-09        14     34            6            10               27
2  2019-11-10        27     21            4            15               16
3  2019-11-11        42     23           14            58               36
4  2019-11-12        54     27           16            35               58
5  2019-11-13        49     30           13            27               53
6  2019-11-14        54     28           17            41               50
7  2019-11-15        40     24            8            37               46
8  2019-11-16        20     16            5            11               23
9  2019-11-17        30     16            3            14               20
10 2019-11-18        52     32           15            83               51
11 2019-11-19        58     22           11            41               60
12 2019-11-20        37     30           15            49               48
13 2019-11-21        40     36           11            40               52
14 2019-11-22        43     30            8            30               38
15 2019-11-23        20     25           12             6               32
16 2019-11-24        18     26           12            17               19
17 2019-11-25        45     29           16            82               49
18 2019-11-26        52     40           13            34               53
19 2019-11-27        40     33           15            38               30
20 2019-11-28         9     21           13             6               21
21 2019-11-29        17     28            2            31               30
22 2019-11-30        22     29            6             8               25
23 2019-12-01        22     27           10            12               26
24 2019-12-02        52     21           14           100               56
25 2019-12-03        44     27           15            45               60
26 2019-12-04        59     27           13            34               63
27 2019-12-05        57     28           11            23               67
28 2019-12-06        62     31           15            33               42

In [90]:
topics_by_day.dtypes

date               datetime64[ns]
Medicare                    int64
Crime                       int64
Immigration                 int64
Unemployment                int64
Social Security             int64
dtype: object

In [91]:
topics_by_day.to_csv('mn_topics_by_day.csv', index = False)
blob2 = bucket.blob('mn_topics_by_day.csv')
blob2.upload_from_filename('mn_topics_by_day.csv')

# next blocks are just for exploration

In [7]:
kw_list = ["Terrorism", 'Homelessness', 'Gun control', 'Military Budget', 'Climate Change']
pytrends.build_payload(kw_list, cat=0, timeframe='now 7-d', geo = 'US-MN', gprop='')

In [8]:
topics = pytrends.interest_by_region(resolution='CITY', inc_geo_code=False, inc_low_vol=True)
topics.head(20)

,Terrorism,Homelessness,Gun control,Military Budget,Climate Change
geoName,,,,,
Duluth MN-Superior WI,9,6,13,0,72
Fargo-Valley City ND,11,7,16,0,66
La Crosse-Eau Claire WI,8,12,13,0,67
Mankato MN,21,0,11,0,68
Minneapolis-St. Paul MN,8,12,16,1,63
Rochester MN-Mason City IA-Austin MN,6,16,18,0,60

In [9]:
topics = pytrends.interest_over_time()
topics.head(20)

,Terrorism,Homelessness,Gun control,Military Budget,Climate Change,isPartial
date,,,,,,
2019-12-01 21:00:00,6,2,5,2,24,False
2019-12-01 22:00:00,5,9,11,3,32,False
2019-12-01 23:00:00,2,3,3,0,28,False
2019-12-02 00:00:00,16,9,11,0,36,False
2019-12-02 01:00:00,5,24,3,3,41,False
2019-12-02 02:00:00,16,3,10,0,44,False
2019-12-02 03:00:00,10,5,10,2,51,False
2019-12-02 04:00:00,9,9,11,2,49,False
2019-12-02 05:00:00,14,3,3,0,67,False
2019-12-02 06:00:00,0,5,20,0,41,False
2019-12-02 07:00:00,18,9,9,0,9,False
2019-12-02 08:00:00,39,13,0,13,26,False
2019-12-02 09:00:00,0,0,62,0,16,False
2019-12-02 10:00:00,14,0,14,0,42,False
2019-12-02 11:00:00,0,0,0,0,17,False
2019-12-02 12:00:00,0,0,14,0,18,False
2019-12-02 13:00:00,5,11,16,0,24,False
2019-12-02 14:00:00,5,10,13,0,44,False
2019-12-02 15:00:00,6,4,14,1,58,False
2019-12-02 16:00:00,3,6,19,4,60,False