In [63]:
import pandas as pd
df = pd.read_csv('final_dataframe.csv')

In [64]:
df.head()

,user,place,place_full_name,follower count,created at,retweets,text,sentiment,topic,SentimentBucket,influencerLevel
0,Jean Mari Burrington,Minnesota,"Minnesota, USA",39,2019-12-09 00:46:33,0,@BeltwayPanda @SenKamalaHarris @SpryGuy @FLOTU...,0.20,Immigration,Positive,Not
1,TMJ-MSP Legal Jobs,Minneapolis,"Minneapolis, MN",327,2019-12-08 17:43:09,0,This #Legal job might be a great fit for you. ...,0.48,Immigration,Positive,Not
2,Stephen Philion,Maple Grove,"Maple Grove, MN",145,2019-12-08 16:15:07,0,Mother of Army officer to be deported after re...,0.00,Immigration,Neutral,Not
3,ðŸ‡ºðŸ‡¸USMC 0341 MAGA ðŸ‡ºðŸ‡¸ðŸŽ–ðŸ‡ºðŸ‡¸ðŸ‡ºðŸ‡¸,Minnesota,"Minnesota, USA",70115,2019-12-08 05:53:50,0,@JohnSmi37563557 Exactly.. anothe 9/11 would r...,0.12,Immigration,Positive,Medium
4,RH Legal Jobs,Minneapolis,"Minneapolis, MN",155,2019-12-07 16:31:43,0,This job might be a great fit for you: IMMIGRA...,0.47,Immigration,Positive,Not

In [65]:
df['place'].unique()

array(['Minnesota', 'Minneapolis', 'Maple Grove', 'St Paul', 'Hutchinson',
       'Monticello', 'Hopkins', 'Plymouth', 'Lakeville', 'Eden Prairie',
       'Duluth', 'Moorhead', 'Lino Lakes', 'St Cloud', 'Edina', 'Andover',
       'New Brighton', 'Chisholm', 'Maplewood', 'Minnetonka',
       'West St Paul', 'Winona', 'Bloomington', 'Zimmerman', 'Chanhassen',
       'Shakopee', 'Little Falls', 'Hastings', 'Roseville',
       'Brooklyn Center', 'Elk River', 'Richfield', 'Zumbrota',
       'Mendota Heights', 'Red Wing', 'Brooklyn Park', 'Coon Rapids',
       'Arden Hills', 'Burnsville', 'Prior Lake', 'Aria', 'Apple Valley',
       'White Bear Lake', 'Champlin', 'Crystal', 'Rogers',
       'Golden Valley', 'Brainerd', 'Victoria', 'Mahtomedi', 'Litchfield',
       'Cambridge', 'Austin', 'Melrose', 'Mound', 'Woodbury', 'Eagan',
       'Marshall', 'Saint Paul City Hall', 'Anoka', 'Robbinsdale',
       'Mounds View', 'Inver Grove Heights', 'Forest Lake', 'Fridley',
       'Cottage Grove', 'Minneapolis Convention Center', 'Stillwater',
       'Caledonia', 'Rockford', 'Bayport', 'Farmington'], dtype=object)

In [66]:
major_city = df['place'].replace(['Shoreview','Golden Valley', 'Melrose', 'St Paul', 'Zimmerman','Brooklyn Park',
                                  'Edina', 'Maple Grove', 'Chanhassen', 'Roseville', 'New Brighton', 'Burnsville',
                                  'Hutchinson', 'Monticello', 'Hopkins', 'Plymouth', 'Lakeville', 'Eden Prairie', 
                                  'Lino Lakes', 'St Cloud', 'Andover', 'Maplewood', 'Minnetonka', 'West St Paul', 
                                  'Bloomington', 'Shakopee', 'Hastings', 'Brooklyn Center', 'Elk River', 'Richfield',
                                  'Mendota Heights', 'Coon Rapids', 'Arden Hills', 'Burnsville', 'Prior Lake',
                                  'Aria', 'Apple Valley', 'White Bear Lake', 'Champlin', 'Crystal', 'Rogers','Golden Valley',
                                  'Victoria', 'Mahtomedi', 'Woodbury', 'Eagan', 'Saint Paul City Hall', 'Anoka',
                                  'Robbinsdale', 'Mounds View', 'Inver Grove Heights', 'Forest Lake', 'Fridley',
                                  'Cottage Grove', 'Minneapolis Convention Center', 'Stillwater', 'Rockford',
                                  'Bayport', 'Farmington'], 'Minneapolis')

major_city = major_city.replace(['Moorhead', 'Brainerd', 'Litchfield', 'Mound'],'Fargo')
major_city = major_city.replace(['Chisholm', 'Little Falls', 'Cambridge'], 'Duluth')
major_city = major_city.replace(['Winona', 'Caledonia'], 'La Crosse')
major_city = major_city.replace(['Zumbrota', 'Red Wing', 'Austin'], 'Rochester')
major_city = major_city.replace('Marshall', 'Mankato')

In [67]:
df['majorCity'] = major_city
df = df[df['majorCity'] != 'Minnesota']

In [68]:
df['majorCity'].unique()

array(['Minneapolis', 'Duluth', 'Fargo', 'La Crosse', 'Rochester',
       'Mankato'], dtype=object)

In [69]:
final_df = df.drop(columns = ['user', 'place', 'follower count', 'created at', 'retweets', 'text', 'place_full_name'])
final_df.head()

   sentiment        topic SentimentBucket influencerLevel    majorCity
1       0.48  Immigration        Positive             Not  Minneapolis
2       0.00  Immigration         Neutral             Not  Minneapolis
4       0.47  Immigration        Positive             Not  Minneapolis
5       0.00  Immigration         Neutral             Not  Minneapolis
6       0.25  Immigration        Positive             Not  Minneapolis

In [77]:
agg_df = final_df.groupby(['majorCity', 'topic']).agg({'sentiment':'mean'})
agg_df

                             sentiment
majorCity   topic
Duluth      Crime            -0.065000
            Immigration      -0.026667
            Medicare         -0.088571
            Social Security  -0.035000
            Unemployment      0.000000
Fargo       Crime             0.000000
            Immigration       0.000000
            Medicare          0.255000
            Social Security   0.290000
La Crosse   Crime            -0.400000
            Medicare         -0.042857
Mankato     Crime            -0.300000
Minneapolis Crime            -0.057807
            Immigration       0.146400
            Medicare          0.188776
            Social Security   0.039091
            Unemployment      0.118000
Rochester   Crime            -0.175000
            Medicare         -0.033333

In [78]:
agg_df = agg_df.reset_index()

In [86]:
agg_df_final = agg_df[(agg_df['majorCity'] == 'Duluth') | (agg_df['majorCity'] == 'Minneapolis')]

In [88]:
agg_df_final

      majorCity            topic  sentiment
0        Duluth            Crime  -0.065000
1        Duluth      Immigration  -0.026667
2        Duluth         Medicare  -0.088571
3        Duluth  Social Security  -0.035000
4        Duluth     Unemployment   0.000000
12  Minneapolis            Crime  -0.057807
13  Minneapolis      Immigration   0.146400
14  Minneapolis         Medicare   0.188776
15  Minneapolis  Social Security   0.039091
16  Minneapolis     Unemployment   0.118000

In [89]:
from google.cloud import storage
client = storage.Client()
print('default project: {}'.format(client.project))

default project: trends-msba

In [90]:
bucket = client.bucket('msba-trends')

In [91]:
agg_df_final.to_csv('sentiment_aggregated.csv', index = False)
blob = bucket.blob('sentiment_aggregated.csv')
blob.upload_from_filename('sentiment_aggregated.csv')

In [74]:
final_df.to_csv('sentiment.csv', index = False)
blob = bucket.blob('sentiment.csv')
blob.upload_from_filename('sentiment.csv')