In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('clean_data.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
df.head()

           air_store_id  ... lookback_visitors_store_std
0  air_ba937bf13d40fb24  ...                    8.406347
1  air_ba937bf13d40fb24  ...                    8.406347
2  air_ba937bf13d40fb24  ...                    8.406347
3  air_ba937bf13d40fb24  ...                    8.406347
4  air_ba937bf13d40fb24  ...                    8.406347

[5 rows x 24 columns]

In [0]:
df['calendar_date'] = pd.to_datetime(df['calendar_date'])
df['earlist_open_date'] = pd.to_datetime(df['earlist_open_date'])

In [0]:
df.dtypes

air_store_id                           object
calendar_date                  datetime64[ns]
day_of_week                            object
holiday_flg                             int64
air_genre_name                         object
air_area_name                          object
latitude                              float64
longitude                             float64
reserve_visitors_air                  float64
hpg_store_id                           object
reserve_visitors_hpg                  float64
visitors                              float64
day                                     int64
month                                   int64
year                                    int64
dayofweek                               int64
dayofyear                               int64
earlist_open_date              datetime64[ns]
closed_flag                             int64
lookback_visitors_avg_store           float64
lookback_visitors_avg_genre           float64
lookback_visitors_avg_area            float64
lookback_visitors_genre_std           float64
dtype: object

look back 6 - 9 weeks, avg visitors for that weekday(Sun - Sat), impute the first month of being open avg visitors value for when stores r closed or have been open for only 6 weeks (functions by store, genre, and area)

In [0]:
def lookback_store(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i] == 0) | (df['closed_flag'][i] == 1):
            
            impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().mean()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_avg_store'] = values
            
    return df

In [0]:
def lookback_genre(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i]) == 0 | (df['closed_flag'][i] == 1):
            
            impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().mean()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_avg_genre'] = values
            
    return df

In [0]:
def lookback_area(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i] == 0) | (df['closed_flag'][i]) == 1:
            
            impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().mean()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().mean()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_avg_area'] = values
            
    return df

In [0]:
def lookback_store_std(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i]) == 0 | (df['closed_flag'][i] == 1):
            
            impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().std()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_store_id'][i] == df['air_store_id']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_store_std'] = values
            
    return df

In [0]:
def lookback_genre_std(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i]) == 0 | (df['closed_flag'][i] == 1):
            
            impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().std()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_genre_name'][i] == df['air_genre_name']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_genre_std'] = values
            
    return df

In [0]:
def lookback_area_std(df):
    i = 0
    values = []
    
    for i in range(len(df)):
        impute_val = 0
        if (df['closed_flag'][i]) == 0 | (df['closed_flag'][i] == 1):
            
            impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
            ((df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 6)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 7)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 8)) |
            (df['calendar_date'] == df['calendar_date'][i] - pd.Timedelta(weeks = 9)))]['visitors'].dropna().std()
                
            if str(impute_val) != 'nan':
                values.append(impute_val)
                
            else:
                impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
                                ((df['month'] == df['earlist_open_date'][i].month) &
                                 (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
                
                values.append(impute_val)
            
        else:
            impute_val = df[(df['air_area_name'][i] == df['air_area_name']) &
                            ((df['month'] == df['earlist_open_date'][i].month) &
                             (df['year'] == df['earlist_open_date'][i].year))]['visitors'].dropna().std()
            
            values.append(impute_val)
        
        i += 1
    
    df['lookback_visitors_area_std'] = values
            
    return df

In [0]:
df_features = lookback_store(df)
df_features = lookback_genre(df)
df_features = lookback_area(df)
df_features = lookback_store_std(df)
df_features = lookback_genre_std(df)
df_features = lookback_area_std(df)

In [0]:
df_features.tail()

                air_store_id  ... lookback_visitors_area_std
428588  air_24e8414b9b07decb  ...                   4.000000
428589  air_24e8414b9b07decb  ...                   8.016176
428590  air_24e8414b9b07decb  ...                   1.000000
428591  air_24e8414b9b07decb  ...                   4.274091
428592  air_24e8414b9b07decb  ...                   4.450789

[5 rows x 25 columns]

In [0]:
df_features.to_csv('lookbacks_all.csv', index = False)

Merging all features

In [2]:
lookbacks = pd.read_csv('lookbacks_all.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
master = pd.read_csv('master_v3.csv')

In [4]:
lookbacks.head()

           air_store_id  ... lookback_visitors_area_std
0  air_ba937bf13d40fb24  ...                   14.56454
1  air_ba937bf13d40fb24  ...                   14.56454
2  air_ba937bf13d40fb24  ...                   14.56454
3  air_ba937bf13d40fb24  ...                   14.56454
4  air_ba937bf13d40fb24  ...                   14.56454

[5 rows x 25 columns]

In [10]:
lookbacks = lookbacks.sort_values(by = ['air_store_id', 'calendar_date'])
lookbacks.head()

                air_store_id  ... lookback_visitors_area_std
148896  air_00a91d42b08b08d9  ...                  18.167652
148897  air_00a91d42b08b08d9  ...                  18.167652
148898  air_00a91d42b08b08d9  ...                  18.167652
148899  air_00a91d42b08b08d9  ...                  18.167652
148900  air_00a91d42b08b08d9  ...                  18.167652

[5 rows x 25 columns]

In [5]:
master.head()

           air_store_id calendar_date  ... week_of_month  open_days
0  air_00a91d42b08b08d9    2016-01-01  ...           one          0
1  air_00a91d42b08b08d9    2016-01-02  ...           one          0
2  air_00a91d42b08b08d9    2016-01-03  ...           one          0
3  air_00a91d42b08b08d9    2016-01-04  ...           one          0
4  air_00a91d42b08b08d9    2016-01-05  ...           one          0

[5 rows x 33 columns]

In [0]:
master['lookback_visitors_std_store'] = lookbacks['lookback_visitors_store_std']
master['lookback_visitors_std_genre'] = lookbacks['lookback_visitors_genre_std']
master['lookback_visitors_std_area'] = lookbacks['lookback_visitors_area_std']

In [12]:
master.head()

           air_store_id  ... lookback_visitors_std_area
0  air_00a91d42b08b08d9  ...                   14.56454
1  air_00a91d42b08b08d9  ...                   14.56454
2  air_00a91d42b08b08d9  ...                   14.56454
3  air_00a91d42b08b08d9  ...                   14.56454
4  air_00a91d42b08b08d9  ...                   14.56454

[5 rows x 36 columns]

In [0]:
master.to_csv('master_final.csv', index = False)